/* struktur CSS
- selector -> object / komponen yang akan diberi styling
- property -> detail dari styling
- value -> nilai dari property

Jenis-jenis penulisan selector
- nama tag HTML
- id tag HTML(#)
-class tag HTML(.)

analogi
- seluruh siswa SMK Telkom Malang harap memakai seragam batik
struktur CSS:
siswa_Telkom {
    seragam: batik
}

- siswa kelas XI RPL 4 harap membawa tongkat pramuka
struktur CSS:
XI_RPL_4 {
    tongkat: pramuka
}

- siswa dengan NISN 1001 harap membawa bekal nasi goreng
struktur CSS:
#1001 {
    bekal: nasi goreng
}
*/

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: navy;
    font-size: larger;
}

p {
    color: darkcyan;
    font-family: sans-serif;
}

#paragraf_khusus {
    font-weight: bolder;
    font-size: larger;
}
.paragraf_penting {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

b, i, u {
    color: maroon;
}

.tombol { /* semua komponen HTML yang mempunyai class="tombol" */
    background-color: darkgreen;
    color: white;
    padding: 10px; /*padding jarak antara border dengan konten*/ 
    border: none;
    border-radius: 10px;
}

.paragraf_penting .tombol { /* semua paragraf HTML yang mempunyai class="tombol" dan berada di dalam komponen dengan class="paragraf_penting" */
    background-color: blue;
    color: white;
    padding: 10px; /*padding jarak antara border dengan konten*/
    border: none;
    border-radius: 10px;
}